/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-=[January, 2015]=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
      __
   __/  \__		  ___          ____
  /  \__/  \	 / __| ___ _ _|__  |_ _ __ _ ___ _ _
  \__/  \__/	 \__ \/ -_) '_ \/ / _` / _` / _ \ ' \
  /  \__/  \	 |___/\___| .__/_/\__,_\__, \___/_||_|
  \__/  \__/	          |_|          |___/
     \__/

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-[V 2.2.0]-=-=-=-=-
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

@import url(http://fonts.googleapis.com/css?family=Play:400,700);

/* HTML start
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

header * {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #1b324a url('../img/bg.png') repeat-x fixed center;
    background-size: auto 100%;
    color: whitesmoke;
    line-height: 1.4em;
    z-index: 10;
    -webkit-font-smoothing: antialiased !important;
}

header {
    border-bottom: 1px solid rgba(60, 60, 60, 0.20);
    background: -moz-linear-gradient(top,  rgba(15,15,15,0.87) 0%,
    rgba(5,5,5,0.87) 5%, rgba(7,7,7,0.94) 50%, rgba(10,10,10,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,rgba(15,15,15,0.87)), color-stop(5%,rgba(5,5,5,0.87)),
    color-stop(50%,rgba(7,7,7,0.94)), color-stop(100%,rgba(10,10,10,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(15,15,15,0.87) 0%,
    rgba(5,5,5,0.87) 5%,rgba(7,7,7,0.94) 50%,rgba(10,10,10,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(15,15,15,0.87) 0%,
    rgba(5,5,5,0.87) 5%,rgba(7,7,7,0.94) 50%,rgba(10,10,10,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(15,15,15,0.87) 0%,
    rgba(5,5,5,0.87) 5%,rgba(7,7,7,0.94) 50%,rgba(10,10,10,0.9) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(15,15,15,0.87) 0%,
    rgba(5,5,5,0.87) 5%,rgba(7,7,7,0.94) 50%,rgba(10,10,10,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de0f0f0f',
    endColorstr='#e60a0a0a',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 50px;
    position: fixed;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

a:link, a:visited, a:active {
    color: #52a4c2;
}

/* HTML end
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* BE start (Background Effects)
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#bodyBE {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -5;
}

/* BE end
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Header start
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#headerContainer {
    width: 950px;
    height: 50px;
    margin: 0 auto;
    padding-left: 15px;
    border-left: 1px solid rgba(60, 60, 60, 0.31);
    border-right: 1px solid rgba(60, 60, 60, 0.31);
    z-index: 100;
    position: relative;
}

/* Logo */

#headerContainer #branding {
    float: left;
    background: url('../img/logo-big.png') no-repeat center left;
    background-size: 140px;
    width: 140px;
    height: 50px;
    padding-right: 15px;
    font: normal 18pt 'Play', sans-serif;
    border-right: 1px solid rgba(60, 60, 60, 0.31);
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
}

#headerContainer #branding.small-brand {
    background: url('../img/logo-small.png') left center no-repeat;
    background-size: 40px;
    width: 50px;
}

#headerContainer #branding a {
    width: 100%;
    height: 50px;
    display: block;
}
#headerContainer #branding:hover {
    cursor: pointer;
}

/* Navigation */

#headerContainer nav {
    float: left;
    height: 50px;
    color: #666;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    border-right: 1px solid rgba(60, 60, 60, 0.31);
    padding-left: 1px;
}

#headerContainer nav ul, #headerContainer nav ol {
    list-style: outside none none;
}

#headerContainer nav ul li {
    float: left;
    padding: 0 11px;
    height: 50px;
    line-height: 48px;
    font-size: 12px;
}

#headerContainer nav ul li a {
    color: #7b7b7b;
    text-decoration: none;
}

#headerContainer nav ul li a:hover,
#headerContainer nav ul li:hover {
    color: whitesmoke;
    cursor: pointer;
}

#headerContainer nav ul li a.current_b {
    color: whitesmoke;
    background: rgba(250, 250, 250, 0.2);
    padding: 5px;
    display: inline;
}

#navMenu li a {
    height: 50px;
    width: 100%;
    display: block;
}

/* Small navMenu */
.small-screen {
    float: right !important;
}
.small-screen ul#navMenu {
    display: none;
}

#smallNavMenu {
    display: none;
}

#smallNavMenu li.menuBtn {
    background: rgba(10, 10, 10, 0.5) url('../img/smallMenuBtn.png') no-repeat center;
    width: 50px;
}

#smallNavMenu li.menuBtn a.menuBtnLink {
    text-indent: -9999px;
    width: 100%;
    height: 50px;
    display: block;
}

#mobileMenu {
    width: 140px;
    margin-left: -90px !important;
}

#mobileMenu.dropit-submenu li {
    width: 130px;
    padding: 0 10px !important;
    border-radius: 5px;
}

/* Header search */

#headerContainer #searchTool {
    float: left;
    height: 50px;
    border-right: 1px solid rgba(60, 60, 60, 0.31);
}

#headerContainer #searchTool form input[type=submit] {
    margin: 8px 0 0 0;
    border: none !important;
}

#searchTextfield {
    float: left;
    width: 146px;
    background: rgba(10, 10, 10, 0.92);
    position: fixed;
    top: 50px;
    display: none;
}

#searchTextfield a {
    display: block;
    padding: 10px;
    color: #666;
    font-family: 'Play', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

#searchTextfield a:hover {
    color: whitesmoke;
    text-decoration: none;
}

#headerContainer #searchTool form input[type=text] {
    color: rgba(174, 174, 174, 0.74);
    height: 50px;
    padding: 0 10px;
    font: normal 12px Arial, sans-serif;
    background-color: rgba(45, 45, 45, 0.90);
    border: none !important;
    border-bottom: 1px solid rgba(140, 140, 140, 0.1) !important;
    margin: 0;
    clear: both;
    width: 126px;
}

#headerContainer #searchTool form input[type=submit] {
    background: rgba(0, 0, 0, 0.56) url('../img/icon-search.png') no-repeat center;
    float: right;
    height: 50px;
    padding: 5px 20px;
    margin: 0;
}

#headerContainer #searchTool form input[type=text]:hover, #headerContainer #searchTool form input[type=submit]:hover, .checking-search {
    background-color: rgba(30, 30, 30, 0.96) !important;
}

#headerContainer #searchTool form input[type=submit]:hover {
    cursor: pointer;
}

/* User information panel (Avatar and notifications)  */

#headerContainer #userInfoPane {
    float: left;
    height: 50px;
    padding-top: 4px;
    margin-left: 15px;
}

#headerContainer #userInfoPane #notification {
    border-radius: 45px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 17px;
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
    /*
    background-color: rgba(125, 0, 0, 1);
    border: 1px solid rgba(160, 0, 0, 1);
    font: normal 13px Arial, sans-serif; */
}

#headerContainer #userInfoPane #avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-origin: border-box;
    width: 40px;
    height: 40px;
    display: table;
}

/* Avatar Controls */

#headerContainer #userInfoPane #avatar a#avatarControls {
    width: 100%;
    height: 100%;
    display: table;
    cursor: pointer;
    text-indent: -9999px;
}

/* Avatar toolbar */

#avatarToolbar {
    width: 245px;
    background-color: rgba(10, 10, 10, 0.92);
    border: 1px solid rgba(135, 135, 135, 0.2);
    position: fixed;
    top: 52px;
    padding-bottom: 20px;
    display: none;
    border-bottom-right-radius: 5px;
    border-top-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

#avatarToolbar #avatarBig {
    width: 100px;
    height: 100px;
    margin: 10px;
    outline: 5px solid rgba(50, 50, 50, 0.75);
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

#avatarToolbar h4 {
    padding: 10px 5px;
    float: left;
    font-size: 14px;
}

#avatarToolbar p {
    float: right;
    padding: 10px 2px;
    font-size: 12px;
    color: ghostwhite;
    width: 120px;
    border-top: 1px solid rgba(50, 50, 50, 0.75);
}

#avatarToolbar #avatarContainer {
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.75);
    clear: both;
    display: block;
    height: 125px;
}

#usrAvatarMenu {
    margin-top: 2px;
    float: left;
    list-style: none;
    width: 100%;
}

#usrAvatarMenu * a {
    color: #666;
    width: 100%;
    display: block;
    padding: 10px 0;
}

#usrAvatarMenu * a:hover {
    color: whitesmoke;
    background-color: rgba(40, 40, 40, 0.2);
    text-decoration: none;
}

a.userProfileLink {
    color: whitesmoke !important;
}

a.userProfileLink:hover {
    color: #52A4C2 !important;
    text-decoration: none !important;
}

a.editProfile {
    color: grey !important;
    font-style: italic;
}

a.editProfile:hover {
    color: #52A4C2 !important;
    font-style: italic !important;
    text-decoration: none !important;
}

#usrAvatarMenu li {
    width: 100%;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

#usrAvatarMenu li a span {
    padding-left: 10px;
    font-size: 12px;
}


/* User controls (Options or guest message) */

#headerContainer #userControls {
    float: left;
    height: 50px;
    margin: 0 auto 0 10px;
    color: #666;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

#headerContainer #userControls a {
    color: #666;
    text-decoration: none;

}

#headerContainer #userControls a:hover {
    cursor: pointer;
    color: whitesmoke;
}

#headerContainer #userControls ul {
    list-style: outside none none;
}

#headerContainer #userControls ul li {
    float: left;
    padding: 0 11px;
    height: 50px;
    line-height: 48px;
    font-size: 12px;
}

#headerContainer #userControls ul li a:first-child {
    height: 50px !important;
    display: block;
}

#headerContainer #userControls ul li:hover {
    color: whitesmoke;
}

.small-userct {
    background-color: rgba(0, 0, 0, 0.9);
    margin: -5px 5px 0 0 !important;
    clear: both;
    height: auto !important;
    display: none;
}

.small-userct ul li {
    display: block !important;
    float: none !important;
}

/* User Control Icons */

#headerContainer #userControls ul li#pmIcon a.no-message,
#headerContainer #userControls ul li#pmIcon a.new-message,
#headerContainer #userControls ul li#adminIcon a.showAdmin,
#headerContainer #userControls ul li#modIcon a.showMod {
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}


ul.dropit-submenu, #avatarToolbar {
    margin-left: -180px !important;
}

.small-userct ul.dropit-submenu {
    margin-left: 38px !important;
    top: 0px;
}


.small-avatarpos {
    margin-left: -140px;
}

#alerts {
    margin-left: -190px !important;
}

/* Dropit overrides (JS addon for quick and neat drop down menus */

ul.dropit-submenu {
    width: 240px;
    background: rgba(10, 10, 10, 0.92);
    border-bottom-right-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

ul.dropit-submenu li {
    width: 218px;
    border-bottom: 1px solid rgba(60, 60, 60, 0.61);
}

ul.dropit-submenu li:last-child {
    border: none;
}

ul.dropit-submenu li:hover {
    background-color: rgba(40, 40, 40, 0.2);
}

ul.dropit-submenu li a {
    display: block;
    width: 100%;
}

ul.dropit-submenu li a:hover {
    color: whitesmoke !important;
}

/* Guest message to login or register */

#NotLoggedIn {
    display: none;
    width: 220px;
    padding: 0;
    margin: 15px -10px;
}

#headerContainer #userControls #NotLoggedIn,
#headerContainer #userControlsSmall #NotLoggedIn {
    height: 50px;
    float: left;
    color: #666;
}

#headerContainer #userControlsSmall #NotLoggedIn {
    line-height: 5em;
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
}

#headerContainer #userControls #NotLoggedIn,
#headerContainer #userControlsSmall #NotLoggedIn {
    float: left;
    font-size: 12px !important;
    font-family: 'Arial', sans-serif !important;
    text-transform: none;
}

#NotLoggedIn a {
    color: #52a4c2 !important;
    text-decoration: none;
}

#NotLoggedIn a:hover {
    color: whitesmoke !important;
}

/* Version information on development */

#forumTestVersion {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 50px;
}

#forumTestVersionWrap {
    width: 950px;
    margin: 0 auto;
    padding: 0;
}

#forumTestVersion p {
    color: #9D5B00;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    width: 160px;
    margin: 0 auto 0 0;
    text-align: center;
    padding: 0;
    border: 1px solid goldenrod;
    background: -moz-linear-gradient(top,  rgba(255,214,94,0.9) 0%,
    rgba(254,191,4,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,0.9)),
    color-stop(100%,rgba(254,191,4,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,214,94,0.9) 0%,
    rgba(254,191,4,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,214,94,0.9) 0%,
    rgba(254,191,4,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,214,94,0.9) 0%,
    rgba(254,191,4,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,214,94,0.9) 0%,
    rgba(254,191,4,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffd65e',
    endColorstr='#d9febf04',GradientType=0 ); /* IE6-9 */
}

/* Alerts override */

#alerts_frame {
    position: relative;
    z-index: 500;
    display: block;
}

#alerts {
    top: 10px !important;
    left: 0 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    background: -moz-linear-gradient(top,  rgba(5,5,5,0.75) 0%, rgba(5,5,5,0.75) 50%, rgba(5,5,5,0.6) 97%,
    rgba(5,5,5,0.6) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,5,5,0.75)), color-stop(50%,
    rgba(5,5,5,0.75)), color-stop(97%,rgba(5,5,5,0.6)), color-stop(99%,rgba(5,5,5,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(5,5,5,0.75) 0%,rgba(5,5,5,0.75) 50%,rgba(5,5,5,0.6) 97%,
    rgba(5,5,5,0.6) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(5,5,5,0.75) 0%,rgba(5,5,5,0.75) 50%,rgba(5,5,5,0.6) 97%,
    rgba(5,5,5,0.6) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(5,5,5,0.75) 0%,rgba(5,5,5,0.75) 50%,rgba(5,5,5,0.6) 97%,
    rgba(5,5,5,0.6) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(5,5,5,0.75) 0%,rgba(5,5,5,0.75) 50%,rgba(5,5,5,0.6) 97%,
    rgba(5,5,5,0.6) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf050505', endColorstr='#99050505',
    GradientType=0 ); /* IE6-9 */
}

img.alerts_va, #alerts_counter {
    display: none;
}

.alarm_border, #top_alerts {
    border-bottom-color: rgba(60, 60, 60, 0.21) !important;
}

#alerts_image_loading {
    display: none;
}

.alerts_hide {
    opacity: 1 !important;
}

#alerts_image {
    width: 15px;
    height: 15px;
}

/* Header end
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* General start
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Button override */
.buttonlist ul li a span {
    display: inline-block;
}

.buttonlist {
    margin-bottom: 10px;
}

.buttonlist ul {
    padding-left: 0;
}

.buttonlist ul li a,
.buttonlist ul li a span, #rightQt, #leftQt, .disabled {
    background: rgba(50, 50, 50, 0.4) none;
}

.buttonlist ul li a.active,
.buttonlist ul li a.active span {
    background: rgba(110, 165, 185, 0.6) none;
}

.buttonlist ul li a.active:hover,
.buttonlist ul li a.active span:hover {
    background: rgba(110, 165, 185, 0.8) none;
}

.buttonlist ul li a:hover {
    background: rgba(70, 70, 70, 0.6) none;
}

.buttonlist ul li a span:hover {
    background: rgba(50, 50, 50, 0.8) none;
}

.buttonlist ul li a span {
    position: inherit;
    right: 0;
    padding: 2px 5px 0 5px;
    border-radius: 5px;
    margin: 2px 0 0 0;
}

.pagelinks.floatleft {
    float: right;
    margin-top: 5px;
}

.buttonlist li:first-child a {
    margin-left: 0;
}

.buttonlist ul li a {
    border-radius: 5px;
}

/*
.dropmenu li {
    position: inherit;
    border-radius: 5px;
}

.dropmenu li a.firstlevel span.firstlevel {
    position: inherit;
    border-radius: 5px;
    padding: 0 5px;
}


.dropmenu li ul,
.dropmenu li a.active, .dropmenu li a.active span.firstlevel,
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel,
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel {
    background-image: none !important;
}
.dropmenu li a.active span.firstlevel {
    background: rgba(110, 165, 185, 0.8) none;
}

.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel,
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel {
    color: whitesmoke;
    background: rgba(50, 50, 50, 0.8) none;
    border-radius: 5px;
}

.dropmenu li a.active {
    background: url("../../images/theme/menu_gfx.png");
} */

.dropmenu li li.additional_items {
    background: none;
}

/* Main page button override to fix position */

#sp_center div.mark_read div.buttonlist ul {
    padding: 0;
}

/* Obsolete menu overrides */
#button_home, #button_like_post_stats {
    display: none;
}

/* Small menu panel override */

/* Override for index right panel */

.sp_block_section_last {
    margin-top: 2px;
}

/* Wrapper and main area background overrides */

#container {
    background: none;
    border: none;
}

#mainarea {
    background: none;
    border: none;
}

div#wrapper{
    background: rgba(0, 0, 0, 0.6);
    border: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
    min-height: 600px;
}

/* Overall title background overrides */
div.cat_bar, div.roundframe div.cat_bar, .catbg, .catbg2, tr.catbg th.first_th, tr.catbg td, tr.catbg2 td,
tr.catbg th, tr.catbg2 th, tr.catbg th.last_th, h4.catbg, h4.catbg2, h3.catbg, h3.catbg2, .table_list
tbody.header td.catbg, div.roundframe div.cat_bar h3.catbg {
    background: -moz-linear-gradient(top,  rgba(61,61,61,0.25) 0%, rgba(60,60,60,0.25) 1%,
    rgba(0,0,0,0.35) 99%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,0.25)),
    color-stop(1%,rgba(60,60,60,0.25)), color-stop(99%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0.35)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(61,61,61,0.25) 0%,rgba(60,60,60,0.25) 1%,
    rgba(0,0,0,0.35) 99%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(61,61,61,0.25) 0%,rgba(60,60,60,0.25) 1%,
    rgba(0,0,0,0.35) 99%,rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(61,61,61,0.25) 0%,rgba(60,60,60,0.25) 1%,
    rgba(0,0,0,0.35) 99%,rgba(0,0,0,0.35) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(61,61,61,0.25) 0%,rgba(60,60,60,0.25) 1%,
    rgba(0,0,0,0.35) 99%,rgba(0,0,0,0.35) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403d3d3d',
    endColorstr='#59000000',GradientType=0 ); /* IE6-9 */
}

/* Post list background changer */

.windowbg {
    background-color: rgba(30, 30, 30, 0.7);
}

.windowbg2 {
    background-color: rgba(50, 50, 50, 0.7);
}

#forumposts {
    background: none;
}

#forumposts * .windowbg {
    padding: 10px 0;
    background-color: rgba(40, 40, 40, 0.9);
}

#forumposts * .windowbg2 {
    padding: 10px 0;
    background-color: rgba(40, 40, 40, 0.9);
}

.topslice, .botslice, .topslice span, .botslice span {
    background: none !important;
}

#forumposts .cat_bar {
    margin: 0;
}

table.table_grid td {
    border-bottom-color: rgba(10, 10, 10, 0.25);
    border-right-color: rgba(10, 10, 10, 0.25);
}

/* Altering color for topic view */
.icon2.windowbg, .moderation.windowbg {
    background-color: rgba(50, 50, 50, 0.7);
}

#messageindex tr:nth-child(even),
#messageindex tr:nth-child(even) td {
    background-color: rgba(50, 50, 50, 0.3);
}

.stickybg, .stickybg2 {
	background-color: #333 !important;
}

.stickybg::last-of-type, .stickybg2::last-of-type {
	border-bottom: 1px solid #444;
}

/* Title override */

.sp_article_icon {
    display: none;
}

div.cat_bar {
    padding: 0;
}

div.cat_bar h3 {
    padding-left: 10px;
}

h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg {
    padding-left: 10px;
}

/* Background overrides */

span.upperframe, span.lowerframe, .roundframe  {
    background: rgba(30, 30, 30, 0.3);
}

.roundframe {
    border-left: 1px solid rgba(40, 40, 40, 0.5);
    border-right: 1px solid rgba(40, 40, 40, 0.5);
}

span.upperframe {
    border-top: 1px solid rgba(40, 40, 40, 0.5);
    border-left: 1px solid rgba(40, 40, 40, 0.5);
    border-right: 1px solid rgba(40, 40, 40, 0.5);
}

span.lowerframe {
    border-bottom: 1px solid rgba(40, 40, 40, 0.5);
    border-left: 1px solid rgba(40, 40, 40, 0.5);
    border-right: 1px solid rgba(40, 40, 40, 0.5);
}

span.upperframe span, span.lowerframe span {
    background: rgba(30, 30, 30, 0.1);
}

.windowbg span.botslice, .windowbg span.botslice span, .windowbg span.topslice, .windowbg span.topslice span {
    background: none;
}

div.title_barIC, div.title_barIC h4.titlebg, .titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td,
tr.titlebg th.last_th, tr.titlebg th, tr.titlebg th.first_th, div.title_bar, h4.titlebg, h3.titlebg  {
    background: rgba(10, 10, 10, 0.2);
}

/* Board description override */

.description_board {
    background: rgba(30, 30, 30, 0.3);
    border: 1px solid rgba(40, 40, 40, 0.5);
    margin: 5px 0.4em;
    margin: 5px 0.4em 0px;
    border-bottom: medium none !important;
}

/* Avatar 'padding' override */

div.poster ul div div {
    margin: 4px auto -1px !important;
	max-height: none !important;
}

div.poster ul div {
    margin: 0;
}

/* Admin/user panel overrides */

#main_container, #main_admsection {
    position: inherit;
}

#left_admsection {
    margin-right: 10px;
    padding-right: 0;
    background-color: rgba(50, 50, 50, 0.2);
}

/* Form inputs override */
input, button, select, textarea, .button_submit, .button_reset {
    background: none repeat scroll 0% 0% #282828;
    color: #777;
    border: 1px solid #777;
    text-decoration: none;
    padding: 3px 6px;
    margin: 0px 3px;
}

.button_submit:hover, .button_reset:hover {
    background: #373737;
    color: #CCCCCC;
}

/* Form elements override */

.richedit_resize {
    border: none;
    background-color: transparent;
}

#bbcBox_message div img {
    background: whitesmoke !important;
    border-radius: 5px;
    margin-top: 2px;
}

.invalid_input {
    background-color: brown;
    border-color: firebrick;
    color: whitesmoke;
}

.valid_input {
    background-color: teal;
    color: whitesmoke;
}

textarea, input {
    color: #999;
}

textarea:hover, textarea:focus, .input_text:focus, input:focus, input:hover {
    color: ghostwhite;
}

#quickReplyOptions div.roundframe #postmodify div input.button_submit {
    margin-top: 15px;
}

/* Like override */

.like_post_box, .like_unlike_link {
    position: inherit;
}

/* Navigation tree override */

.navigate_section {
    padding: 0 0.39em;
}

#sp_center .navigate_section ul {
    background: none;
    border: none;
    display: none;
}

.navigate_section ul li.last {
    background: rgba(50, 50, 50, 0.4);
    padding-left: 5px;
}

.navigate_section ul {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
    height: 20px;
    border: 1px solid rgba(50, 50, 50, 0.4);
}

.navigate_section ul li:first-child {
    margin-left: 10px;
}

/* Statsbar override */

.statsbar div.bar {
    border-radius: 15px;
}

.statsbar div.bar div {
    position: inherit;
    border-radius: 5px;
}


/* General end
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Footer start
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Footer override */

#footer * a {
    color: #647c94;
}

#footer * a:hover {
    color: whitesmoke;
    text-decoration: none;
}

#footer {
    background: none;
    padding: 0;
    text-align: left;
    width: 940px;
    margin: 0 auto;
    border-top: none;
}

p.copyNote {
    text-transform: uppercase;
    font-size: 10px;
    clear: both;
}

p.copyNote a {
    margin-right: 15px;
}

#footerControls {
    margin: 0 auto;
    width: 95%;
}

#footerSmallMenu {
    float: left;
}

ul#footerSmallUserMenu {
    padding-left: 0;
    float: left;
}

ul#footerSmallUserMenu li#footerBtn_admin,
ul#footerSmallUserMenu li#footerBtn_moderate,
ul#footerSmallUserMenu li#footerBtn_profile,
ul#footerSmallUserMenu li#footerBtn_pm,
ul#footerSmallUserMenu li#footerBtn_search {
    float: left;
}

ul#footerSmallUserMenu li#footerBtn_moderate,
ul#footerSmallUserMenu li#footerBtn_profile,
ul#footerSmallUserMenu li#footerBtn_pm,
ul#footerSmallUserMenu li#footerBtn_search {
    margin-left: 15px;
}

ul#footerSmallUserMenu li:nth-child(2) {
    margin-left: 0 !important;
}

ul#footerSmallUserMenu li span {
    color: whitesmoke !important;
    font-weight: bold;
}

ul#footerSmallUserMenu ul {
    padding-left: 5px;
    margin-bottom: 10px;
}

ul#footerSmallUserMenu,
ul#footerSmallUserMenu ul {
    list-style: none;
}

ul#footerSmallUserMenu li#footerBtn_home,
ul#footerSmallUserMenu li#footerBtn_like_post_stats {
    display: none;
}

ul#footerSmallMenu {
    width: 110px;
    list-style: none;
    padding-left: 0;
}

ul#footerSmallMenu li strong,
ul#footerSmallUserMenu li strong {
    color: whitesmoke;
}

ul#footerSmallMenu li {
    padding-left: 5px;

}

ul#footerSmallMenu li:first-child {
    padding-left: 0;
}
/* Footer end
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */